/* main styling */
body{
    background-color: hsl(34, 51%, 86%);
    font-family: baskerville-urw, serif;
}

/* styling section, header, footer */






/* styling for blockquote */
blockquote {
    font-style:italic;
    font-size: 1.5rem;
    color: rgb(214, 138, 7);
    margin: 2rem 3rem 2rem 3rem;
}

h2{
    font-size: 1.999rem;
    margin: 1rem 0 2rem 0;
}

/* nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(214, 138, 7);
    padding: 3rem 0;
    font-size: 1rem;
}